@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap');

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.70),rgba(4, 9, 30, 0.70)), url(./assets/pexels-pixabay-221471.jpg); 
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: 'Inika', serif;
}

